# Configuración de la Base de Datos
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=sales_system
MYSQL_USER=root
MYSQL_PASSWORD=tu_password_aqui

# Configuración de la Aplicación
DEBUG=True

# Configuración de CORS
CORS_ORIGINS=["*"]
